{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pi Load</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'piload/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'piload/pi.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PiLoad</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user_name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#">Action</a></li>
                            <li class="divider"></li>-->
                            <li><a href="{% url 'logout_view' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="pi-block">
            <p class="pi-block-title">Add Download</p>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form role="form" action="{% url 'submit_task_view' %}" method="post">
                {% csrf_token %}
                <input name="link" type="text" class="form-control" placeholder="ed2k://..."/>
                <span class="help-block"></span>
                <input class="btn btn-primary" type="submit" value="Add" />
            </form>
        </div>
        <div class="pi-block">
            <p class="pi-block-title">Pending Tasks</p>
            <table class="table table-striped">
                {% for w in wait_list %}
                    <tr>
                        <td>{{ w.name }}</td>
                        <td>{{ w.size }}</td>
                        <td>{{ w.add_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pi-block">
            <p class="pi-block-title">Pi</p>
            <table class="table table-striped">
                {% for d in download_list %}
                    <tr>
                        <td>{{ d.name }}<br>{{ d.stats }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="panel panel-default">
                <div class="panel-heading">Status - {{ update_date }}</div>
                <div class="panel-body"> 
                    {% for status in status_list %}
                        {{ status }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'piload/jquery.js' %}"></script>
    <script src="{% static 'piload/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
